.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    background: #d6cfba;
}

canvas {
    border: 1px solid black;
}

#button {
    display: block;
    background: #fcba03;
    
}